<?xml version="1.0"?>

<launch>
   <!-- Determine this using rosrun spinnaker_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
       
  <arg name="flir_serial" default="0" /> <!-- 1170380  -->
  <arg name="camera_namespace" default="camera" />
  <arg name="frame_id" default="camera" />
  <arg name="acquisition_frame_rate" default="10" />
  <arg name="acquisition_frame_rate_enable" default="True" />
  <arg name="auto_exposure_time_upper_limit" default="32754" /> <!-- 32754 is the max value -->
  <arg name="image_format_color_coding" value="BayerRG16" /> <!-- RGB8Packed BayerRG16 -->
  <arg name="auto_white_balance" value="On" />  
  
<!--  <arg name="calibrated" value="True" />  -->
  
  <group ns="$(arg camera_namespace)">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="spinnaker_camera_nodelet"
          args="load spinnaker_camera_driver/SpinnakerCameraNodelet camera_nodelet_manager" >

      <param name="frame_id" value="camera" />
      <param name="serial" value="$(arg flir_serial)" />
      <param name="acquisition_frame_rate" value="$(arg acquisition_frame_rate)" />
      <param name="acquisition_frame_rate_enable" value="$(arg acquisition_frame_rate_enable)" />   
      <param name="auto_exposure_time_upper_limit" value="$(arg auto_exposure_time_upper_limit)" />
      <param name="image_format_color_coding" value="$(arg image_format_color_coding)" />  
      <param name="auto_white_balance" value="$(arg auto_white_balance)" />

      <!-- Use the camera_calibration package to create this file
           TODO NBL: This should be a .yaml file in /usma_bhg/cfg directory  
      <param name="camera_info_url" if="$(arg calibrated)"
             value="file://$(find usma_bhg)/resources/18285440calibration.yaml" />  -->
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager"/>

  </group>
</launch>
