<launch>

    <!-- NOTE: in the current config the cameras are waiting for a trigger sent by the pixhawk  -->
    <arg name="run_flir"      default="true"/>  
    <arg name="run_gobi"      default="true"/> 
   
   <node pkg="usma_bhg" name="flir" type="flir_oop.py" output="screen" ns='camera' if='$(eval run_flir)' > 
    <param name="/multi_threaded" value='false'/>
   </node>

   <node pkg="usma_bhg" name="gobi" type="gobi_oop_gs" output="screen" ns='camera' if='$(eval run_gobi)' >
        <param name="/use_trig" value='1'/>
        <param name="/capture_hz" value='10'/> <!-- TODO this maybe obsolete now that PH generates signal -->
        <param name="/delay" value='21716'/> <!-- 20723=993,  -->
        
   </node>
     
</launch> 
