<launch>

  <include file="$(find usma_bhg)/launch/acquisition.launch"/>
  
   <node name="image_saver" type="ros_img_save.py" pkg="usma_bhg" output="screen"/> 
   
  <!--    -->
   <node pkg="usma_bhg" name="Xenics" type="gobi_subscriber" output="screen"/>

  
   <node name="dir_setup" type="dir_setup.py" pkg="usma_bhg" output="screen"/> 
   
</launch> 
