<launch>
 
    <arg name="run_mavros"             default="true"/> 
    <arg name="run_cameras"            default="true"/>   
    <arg name="run_health"             default="true"/> 
    <arg name="run_rosbag_record"      default="true"/> 

    <!-- Start the Mavros node to talk with the Pixhawk -->
    <include file="$(find usma_bhg)/launch/ardupilot.launch" if='$(eval run_mavros)'/> 

    <!-- Start the cameras and the image saving nodes -->
    <include file="$(find usma_bhg)/launch/img_capture.launch" if='$(eval run_cameras)'/>
  
    <!-- Health monitoring -->  
    <group if='$(eval run_health)'> 
        <node pkg="libsensors_monitor" type="libsensors_monitor" name="libsensors_monitor" respawn="True"/>
        <node pkg="usma_bhg" type="health_monitor.py" name="health_monitor" respawn="True" output="screen"/>
    </group>

    <!-- Record all topics except images -->     
    <node pkg="rosbag" type="record" name="rosbag_record" args="record -a -x '(.*)camera(.*)' -o /home/user1/Data/bhg" if='$(eval run_rosbag_record)' />

</launch>


<!--
rostopic pub -1 /record std_msgs/Bool True

rostopic pub -1 /record std_msgs/Bool False
-->
