<launch>

  <arg name="px4_namespace" default="px4" />

  <include file="$(find usma_mavros)/launch/px4.launch">
    <arg name="fcu_url" default="/dev/ttyUSB0:921600" />
	<arg name="gcs_url" default="udp://:14555@192.168.27.74:14550" /> 
	<!-- <arg name="gcs_url" default="1" /> -->
	<!-- for gcs_url, enter in IP address for GCS laptop -->
  </include>

  <include file="$(find usma_spinnaker)/launch/acquisition.launch"/>
  <node name="image_saver" type="ros_img_save.py" pkg="usma_bhg" output="screen"/>
  
  <node pkg="rosbag" type="record" name="rosbag_record_all"
       args="record -a"/> 
  
</launch>
